extends layout

block content
    .inner
        br
        form.form(action="/account" method="POST")
            h2= title
            label(for="name") Name
            input(type="text" name="name" value=user.name)
            label(for="email") Email Address
            input(type="email" name="email" value=user.email)
            br
            br
            input.button(type="submit" value="Submit")